<!-- index.html -->
{% extends 'userheader.html' %}
{% block content %}

{% load static %}
<html>
<head>
<script>
window.onload = function () {
  var chart= new CanvasJS.Chart("chartContainer", {
    theme: "light2",
    title: {
      text: "Displaying Line Chart"
    },
    axisY: {
      title: "Y axis",
      stripLines: [{
        value: 10000,
        label: "Count"
      }]
    },
    data: [{
      type: "line",
      yValueFormatString: "#,### Covid Cases",
      dataPoints: {{ linedata|safe }}
    }]
  });
  chart.render();
}
</script>
<style>
  .highlighted-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(78, 34, 181);
    color: white;
    text-decoration: none;
    margin-right: 30px;
  }
  
  .text-right {
    text-align: right;
  }
  </style>
</head>
<body>
    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
    <script src="{% static 'canvasjs.min.js' %}"></script>
    <div class="text-right">
      <a href="/adminmainpage/" class="highlighted-link">Back</a>
    </div>
</body>
</html>
{% endblock %}